[2021-09-15 17:25] jessicagood opened #385 "Geologic Unit Tags"
Separate geologic unit tags from the rest of the Tags - though only in what the user sees not in the data structure.

Main Menu - Put Geologic Units above Tags

Notebook - Put Geologic Units above Notes

[2021-09-15 19:27] jessicagood opened #386 "Rock Type & Mineral templates"
Like Measurements, allow creation of templates for Rock Types.

[2021-09-20 16:15] jessicagood commented on #363
Added a Spot metadata page with commit 808e6a49406689565fd38cac000bebc56d6b9e41

Access by pressing the icon for the Spot in the notebook

[2021-09-20 16:15] #363 closed

[2021-09-20 16:24] NathanNovak commented on #383
Fixed with commits cbe00f9de549a91a12c8c791a201f4e4da28a708 and c0caa241af6b71e8a4d6960aab881442ea7d7eac

[2021-09-20 16:24] #383 closed

[2021-09-20 16:29] NathanNovak commented on #384
@andrewkrh We have updated and fixed the issue in 1.9.0.  Currently if you want to use an overlay offline you must download the custom map as a basemap then switch it to an overlay.  Downloading the map as an overlay directly is not yet functional.

[2021-09-20 16:29] #384 closed

[2021-09-20 16:32] NathanNovak opened #387 "Download an overlay directly"
**Is your feature request related to a problem? Please describe.**
When downloading an offline map to be used as an overlay the user must download the map as a basemap first then switch it to an overlay.

**Describe the solution you'd like**
To download an overlay map directly without needing to go in and switch it to a basemap first.

This is related to issue #384

[2021-09-20 18:20] jessicagood commented on #385
Added with commit dc7be7303e7f97e506d93561b19f9cbf519f40e4

[2021-09-21 18:35] jessicagood commented on #385
@nicolasmroberts I need an icon for Geologic Units. Now, I'm just using the Tags icon.

[2021-09-21 18:47] NathanNovak opened #388 "Place Mapbox logo in app"
Place Mapbox logo in app per mapbox rules

[2021-09-21 19:42] NathanNovak commented on #388
fixed with commit 0999a22d28477fffdd647b85e9121d1784a2fb4f

[2021-09-24 19:04] panamint55 commented on #385
We really have to get some new icon for this.

[2021-09-24 19:07] panamint55 commented on #385
If we separate geologic units, then when you select adding or editing a geologic unit then only units should come up.  The list should not include all the other types of tags.  Just geologic units.

Likewise, when you select the general tags, I do not think that the geologic units should show up in the list.  Just show the documentation, comment types of tags.

[2021-09-24 19:08] panamint55 commented on #379
This seems to work.  The entry page you have seems good.

[2021-09-24 19:09] panamint55 commented on #364
Where did this come from?  Maybe, maybe not.  I am not sure how much that will help anyone.

[2021-09-24 19:17] panamint55 opened #389 "Measure tool"
It would be nice to have a measurement tool, at least a very simple one.

Select the tool, click on a point on the map, click somewhere else, and get the distance.  Like the google earth measuring tool, but not as advanced.

If this is easy to implement, then there would be less of a rush on a scale bar.

[2021-09-28 18:56] jessicagood commented on #386
Do for minerals too

[2021-09-28 19:13] jessicagood commented on #348
Currently if SpotA is assigned a Tag but then a different dataset is uploaded (and thus the project properties which includes the Tags is uploaded too) then the server will have the id for SpotA listed in the Tags but the server will not have SpotA itself since SpotA's dataset was never uploaded.

Uploading all datasets regardless of active status will eliminate this problem.

[2021-09-30 23:58] jessicagood commented on #385
New icon added with commit 9780737a2ae4135463961adfab602d782a48732d

[2021-10-01 00:40] jessicagood commented on #385
Fixed with commit fbca45da5693e3a95803061d1bab1ef18443139a

Still to handle:
- Creating a new Tag with only allowing the tag type for the given page
- Editing a Tag with only allowing the tag type for the given page
- Tags Shortcut

[2021-10-01 21:21] NathanNovak commented on #352
This is an enhancement that referenced in #225. The linear measurement tool is another enhancement that we are looking into.

[2021-10-01 21:21] #352 closed

[2021-10-04 18:50] jessicagood commented on #385
Fixed "Creating a new Tag with only allowing the tag type for the given page" with commit 46085b66ea6c9306f7b754a3244664697804ce9c

[2021-10-05 18:29] jessicagood commented on #379
Quick Entry modal works but is not consistent with the other Quick Entry modals. Depending on the complexity it could be quick to implement if you have a mockup @nicolasmroberts.

[2021-10-05 18:32] jessicagood commented on #385
@nicolasmroberts @panamint55 What do you want to do with the Tags Shortcut? Do we need a separate shortcut for Geologic Units? Right now you can just add Geologic Units through the Tags Shortcut.

[2021-10-05 18:33] jessicagood commented on #116
@panamint55 said not to do this enhancement.

[2021-10-06 23:32] panamint55 commented on #389
That sounds great.

[2021-10-11 22:30] NathanNovak commented on #338
Displaying a pdf in android does not work correctly.  There is a known issue with react-native-webview.

A work around is to access the help docs in strabospot.org but internet is required.

[2021-11-02 14:55] NathanNovak commented on #364
I can't remember who said this but I put it in because someone thought it would be a good idea.  I can close it if you think it wouldn't

[2021-11-02 14:55] #364 closed

[2021-11-02 14:56] NathanNovak commented on #389
I am going to close this one now

[2021-11-02 14:56] #389 closed

[2021-11-02 17:13] NathanNovak commented on #385
@nicolasmroberts did @panamint55 answer this in a meeting?

[2021-11-02 17:22] NathanNovak opened #391 "Android: Viewing Image as a Basemap Crashes App"
**Describe the bug**
Viewing Image as a Basemap Crashes App

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes

Steps to reproduce the behavior:
1. Go to spot with an image
2. Click on toggle to view image as basemap
3. Press 'View as Basemap'
4. Boom...

**Expected behavior**
Not crash and show image as a basemap.

**Smartphone (please complete

[2021-11-16 20:47] jessicagood commented on #386
Added Rocks and allowed for multiple minerals and rocks. No changes to measurement templates, which only allows for a single planar and single linear measurement, but this is in line with how measurement templates would be used according @panamint55. Measurement template object data structure does match the structure for other template data objects but no need to change at this point.

[2021-11-16 20:47] #386 closed

[2021-11-16 20:51] jessicagood commented on #343
Save moved to top of form

[2021-11-16 20:51] #343 closed

[2021-11-16 21:11] jessicagood commented on #342
@jasonash The `templates` object is being sent to the server but is not in the response from the server when downloading the project. Can you add it when you get a chance? Thanks!

[2021-11-17 19:43] jasonash commented on #342
Here is an example JSON string for testing:
`{
  "date": "2021-09-21T20:48:08.091Z",
  "projecttype": "app",
  "modified_timestamp": 1632257304032,
  "preferences": {
    "samples": true
  },
  "other_features": [
    "geomorphic",
    "hydrologic",
    "paleontological",
    "igneous",
    "metamorphic",
    "sedimentological",
    "other"
  ],
  "description": {
    "project_name": "Ssssss"
  },

[2021-11-17 19:43] jasonash commented on #342
The Project controller should be fixed now. It is now returning templates, relationship_types, and useContinuousTagging.

[2021-11-17 19:55] jessicagood commented on #342
Great. Thanks!

[2021-11-17 19:55] #342 closed

[2021-11-24 21:43] jessicagood commented on #345
Added with commit 4418441f60bb18586417b7f9b972a6f726ffb7df.
Will be in next release.

[2021-11-24 21:43] #345 closed

[2021-11-25 11:40] NathanNovak opened #392 "Mapwarper custom maps are not loading from URL"
**Describe the bug**
Selecting a custom map from MapWarper is not working.  Checked the URL in browser and in Cocoarest API and comes back with an error message. Strabo-My-Maps are working correctly. Also tested MapWarper in Strabo1 and same behavior.

[2021-12-01 16:34] jessicagood commented on #207
Related #373

[2021-12-02 21:55] jessicagood commented on #207
@nicolasmroberts We're missing the image for a dominant fold attitude of 'unknown' and also missing all of the images for dominant hinge shape.

[2021-12-03 18:32] NathanNovak opened #393 "Display battery percentage in app on Home screen"
See if there is a way to display the battery percentage or icon with amount in the app.  Currently the only way to see the battery life, or time, is to go to iOS home screen.

[2021-12-04 19:04] panamint55 opened #394 "If a spot is a trace the trace info should show"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-04 19:05] panamint55 commented on #394
If a spot is a trace then the information should show. The rest of the notebook information does not make a lot of difference. But the spot characteristics for the trace are important.

[2021-12-06 21:27] jessicagood commented on #394
So open a trace Spot with the trace feature detail already showing and **Not** the Spot Overview page or create a new view with both showing? Or add the trace detail to an Overview section? @nicolasmroberts Any ideas how this would look?

[2021-12-07 01:01] panamint55 commented on #394
![IMG_439E5FDC854F-1](https://user-images.githubusercontent.com/9283127/144946474-3af5aef1-7d4a-46d0-b949-39d7f2cdfa75.jpeg)
With a trace, this is what opens.  The blue text at the top is hard to see.  Perhaps make it black, or put the first couple parts of the classification above the geologic units line but below the trace slider.  A trace will seldom have a unit assigned to it.  The others stuf

[2021-12-07 04:12] panamint55 opened #395 "Sample naming seems to forget the prefix"
I have been having trouble with the sample numbering under naming convention.  I have changed the name a couple times but it keeps going back to Unnamed the next time I open the app.  It also does not seem to increment the number.

To repeat:
1. Change the name for samples
2. Make a sample
3. Quit the app
4. Look at the name for samples.

[2021-12-08 16:27] NathanNovak commented on #395
Hi @panamint55,

I did what you said to do in TestFlight 1.13.1 and am not coming across this issue. I posted a video in One Drive and shared it with you.

[2021-12-08 16:34] NathanNovak commented on #382
@nicolasmroberts we recently changed the way the maps were displayed and it seems to be going very fast even in projects with 300+ spots in them.  Can you update the app either in the store, or for the absolute latest one, in Test Flight? I will send a new invite to upgrade today to v1.14.1 or v1.14.2

[2021-12-08 20:24] NathanNovak opened #396 "Change the line weight on Extent of Mapping surface feature"
The line weight is hard to see, especially when in the field.

[2021-12-09 17:44] NathanNovak commented on #381
fixe with commit a572ce2e362ecbc9e3b8dd7b756aaac4e0cbad51. Make sure your Access token is correct in Mapbox Studio.

[2021-12-09 17:44] #381 closed

[2021-12-09 17:46] NathanNovak commented on #392
Seems the author of Map Warper is not responding to emails that were sent by @jasonash.  Removing the ability to retrieve Map Warper maps until resolved.

[2021-12-09 21:35] jessicagood commented on #207
With commit 8a5e1f99a55c2f7951bd5d2cc8aa660f55b311df the rest of the quick entry modal for Folds was fleshed out, including the Compass.

[2021-12-09 21:39] jessicagood commented on #319
With commit 438a5fa01d1631f6511d193b7dda42283ebddb9b the *Hint* for the Label field was removed. The Hint said "If a label is not specified a default label will be given." but we are not doing this in SS2.

[2021-12-27 18:35] jessicagood commented on #207
@nicolasmroberts Do we have other quick-entry mockups for Tensor or Other? Right now they're just basic forms for the quick-entry.

[2021-12-27 21:30] jessicagood commented on #395
I'm unable to recreate this issue as well.

[2021-12-27 21:30] #395 closed

[2021-12-27 21:44] jessicagood commented on #394
Changed text color with commit 3071cd103fc6430a06c3097febedd4da142a859c

[2021-12-29 16:45] NathanNovak opened #397 "Add photo or note label to map symbols"
Ability to add a label that will show spots with photos or notes like other symbols.

[2022-01-04 21:21] jessicagood commented on #385
Added shortcut with commit 29f893ba6d80993c63cf8544497d063e12d90784

@nicolasmroberts I made a temporary icon for the button but we could use one that looks a little cleaner.

[2022-01-04 21:23] jessicagood commented on #385
Except for getting better copies for all of the Geologic Units icons this issue could be closed.

[2022-01-04 21:24] jessicagood commented on #396
Closed with commit 552eaf3795501f32773c61ec9ac417831985ce45

[2022-01-04 21:24] #396 closed

[2022-01-05 20:47] #394 closed

[2022-01-05 20:47] jessicagood commented on #375
@panamint55

[2022-01-05 21:31] jessicagood commented on #350
The arrow symbol points in the trend direction for me.  @panamint55 can you recreate this issue?

[2022-01-06 16:08] jessicagood commented on #350
@panamint55 Unable to reproduce as well. Closing.

[2022-01-06 16:08] #350 closed

[2022-01-06 17:09] jessicagood opened #398 "Better clarity on downloading photos"
After the project is downloaded maybe keep the modal open and the user can select which datasets to download photos from. Or give a better indication of needing to get the photos for a dataset separately from downloading the project.

Also the following was noted by @panamint55 "If you download images and they do not all download, then when you select image gallery it throws an error of “problem w

[2022-01-10 19:16] NathanNovak commented on #294
fixed with commit dcf3cf83b49345b9dbd3981f8ceea7ec82be2e0f

[2022-01-12 19:15] nicolasmroberts commented on #385
@jessicagood This is working really well. We will make a new icon.

I think we do want to have a shortcut that is dedicated to geologic unit tags, so we will make an icon for that as well.

[2022-01-12 19:31] nicolasmroberts commented on #375
@jessicagood. This request makes sense, "crenulation" can be added to linear feature types. Do we need to do that with kobo forms? If so which branch of kobo forms is being used right now for linear features?

[2022-01-12 19:38] nicolasmroberts commented on #372
@jessicagood This is working great with measurements, and can be implemented in the same way on all other data pages.

[2022-01-12 19:41] nicolasmroberts commented on #362
@Jessicagood I have more information on this. The idea is to be able to automatically fill any new note with text determined by the user. Frequently users will be inputing the same notes information and would like the headings for that info to already be there.

[2022-01-12 19:45] nicolasmroberts commented on #299
@NathanNovak the one preference thing that I can think of that we have not addressed is that most people find the toggle of the spot buttons (straight to curved lines, for example) totally hidden or hard to do. Maybe under Shortcuts we can have a place where users can toggle between the different add spots buttons?

[2022-01-12 19:48] nicolasmroberts commented on #223
@NathanNovak I think you can close this issue

[2022-01-12 20:04] nicolasmroberts commented on #207
@Jessicagood Tensors will stay as it is, because it is a pretty rare one. We will send a mockup for "Other" along with the fold geometry icons for hinge shapes.

[2022-01-12 20:06] nicolasmroberts commented on #57
@Jessicagood you can close this issue

[2022-01-12 20:06] #57 closed

[2022-01-12 20:08] #21 closed

[2022-01-12 20:34] nicolasmroberts commented on #379
[SedsRocksStrabo2 mockup copy.pdf](https://github.com/StraboSpot/StraboSpot-Mobile/files/7857580/SedsRocksStrabo2.mockup.copy.pdf)

@Jessicagood @NathanNovak here is a mockup of the Seds Rock page.

[2022-01-12 21:29] #223 closed

[2022-01-18 17:21] ellennelson10 commented on #207
@jessicagood Here is a mockup for the "Other" tab within 3D structures.

![3DOtherStrabo2 mockup copy](https://user-images.githubusercontent.com/91563766/149986320-97705c49-07da-4281-b954-3147ebacd0f5.png)

The "Primary Boudin Layer Plane", "Primary Neckline", and "Secondary Neckline" buttons bring up the compass tab similar to the fold hinge button. The  "Primary Boudin Layer Plane" is a planar f

[2022-01-18 17:51] jessicagood commented on #379
Thanks @nicolasmroberts. I also need an icon for this that is different from the Sed Lithologies icon. I'm working on Sed now and using the Sed Lithologies icon for Sed Lithologies.

[2022-01-22 18:14] ellennelson10 commented on #385
@jessicagood Here is a new icon package. It includes the standard icons for "GeologicUnit" and the shortcut icons. Also the fold geometry icons for hinge shapes (issue #207)  are added.
[StraboIcons_v20.zip](https://github.com/StraboSpot/StraboSpot-Mobile/files/7918990/StraboIcons_v20.zip)

[2022-01-22 18:14] ellennelson10 commented on #207
@jessicagood The new icon package has been added on #385 . It includes the "HingeShape" family of icons.

[2022-01-24 21:39] jessicagood commented on #207
Added Hinge Shape icons with commits 181c6ae3ede6bfd5c975ebd75253c0ad31eee1a1 and 7654cc6a12afdd6ba7d3ab3dcd908e114fae90dd

@ellennelson10 Still need icon for Fold Attitude of Unknown

[2022-01-24 21:39] jessicagood commented on #385
@ellennelson10 Thanks for icons! A few things that need to be fixed with the package:
- Missing icons for Fold Attitude of Unknown
- `GeologicUnitShortcut.png` should be renamed to `GeologicUnitButtonShortcut.png`
- `GeologicUnitShortcut_pressed.png` should be renamed to `GeologicUnitButtonShortcut_pressed.png`
- `GeologicUnit_pressed.png` should be renamed to `GeologicUnitButton_pressed.png`
- `G

[2022-01-24 23:58] jessicagood commented on #379
@ellennelson10 I also need an icon for the Sed Interval page.

[2022-01-26 22:38] jessicagood commented on #208
Updated with commit d1404e75307b1fe193427bb748a36449dfd05df5 following form updates by @alexanderlusk. @panamint55 decided there was not enough data in the previous form formats to worry too much about the changes to forms. Fields missing in the new format found in the following spreadsheet
[MissingFieldsResponse_Alex.xlsx](https://github.com/StraboSpot/StraboSpot-Mobile/files/7946084/MissingField

[2022-01-26 22:50] jessicagood commented on #208
@nicolasmroberts @ellennelson10 You may want to revisit the Quick Entry modals as some of the fields used no longer exist, for example the cohesive, foliated fields for fault rock.

[2022-01-27 18:08] jessicagood commented on #379
Added the quick entry modal with commit ac50509f1eff21df24b1c2250e4d5abec4774d82

Still need the icons for this page and the sed interval icons fixed.

[2022-01-30 22:31] ellennelson10 commented on #385
[StraboIcons_v21.zip](https://github.com/StraboSpot/StraboSpot-Mobile/files/7967036/StraboIcons_v21.zip)
@jessicagood Here is another icon package. It has the unknown fold attitude icon, a new sedimentary icon (see issue #379 ), and I fixed the naming issues for geologic units.

[2022-01-30 22:33] ellennelson10 commented on #379
@jessicagood I added the sed icon to the icon package (see issue #385 ).

[2022-01-31 21:12] jessicagood commented on #379
Sed Rocks icon added with commit 180ad41117ab9dd9f574ac51a37ce34654e33d84

[2022-01-31 21:13] jessicagood commented on #385
Geologic Unit icons updated with commit 180ad41117ab9dd9f574ac51a37ce34654e33d84

[2022-01-31 21:13] #385 closed

[2022-02-01 21:16] jessicagood commented on #207
Icon for Fold Attitude of Unknown added with commit 180ad41117ab9dd9f574ac51a37ce34654e33d84

[2022-02-01 21:18] jessicagood commented on #207
Added Other quick entry fields with commit 297211c131c207c038f381ac3d939da879bd1791

[2022-02-02 17:58] jessicagood commented on #375
@nicolasmroberts @ellennelson10 Let me know when this is updated and I can pull it into the app and close this issue.

[2022-02-04 17:29] jessicagood commented on #362
Added with commit f04a22110dddece666580ad9247cb4fddb138591

User can have one or more note snippets saved as templates to be applied when the Notes page is opened.

[2022-02-04 17:57] jessicagood commented on #208
@alexanderlusk You may want to change some of the field labels where the label is posed as a question. For example, 'Add structural fabric(s)' should probably just be 'Structural Fabrics'. And 'Kinematic indicator(s)?' should just be 'Kinematic Indicators'. There are others too.

[2022-02-06 19:35] andrewkrh opened #402 "More detail for Geomorphic Feature classification"
**Is your feature request related to a problem? Please describe.**
The current options for categorizing geomorphic trace features are not very descriptive

**Describe the solution you'd like**
Here are some proposed dropdown menu items:

Trace Type
-Geomorphic Trace

Associated Geomorphic Feature
-Terrace
-Terrace riser
-Moraine
-Dune
-Bedrock ridge
-Debris flow
-Landslide

Geomorphic Trace Type
-

[2022-02-06 19:48] andrewkrh opened #403 "Sample list for download"
Maybe this belongs on the "server" page.

**Describe the solution you'd like**
It would be helpful to be able to quickly download a list of samples collected in a recent project. This could be a similar feature to the download > Stereonet Mobile option online. List could include:
Sample Label, Location, Type, Description.

This is particularly useful in international research that requires paperwo

[2022-02-07 20:23] jessicagood commented on #403
@andrewkrh Yes, this could be posted here https://github.com/StraboSpot/StraboSpot-Server/issues
@jasonash

[2022-02-08 15:03] jasonash commented on #403
Hi @andrewkrh . I have added a samples download to the StraboSpot.org "My Data" page per your request above:

<img width="417" alt="Screen Shot 2022-02-08 at 9 00 15 AM" src="https://user-images.githubusercontent.com/7904402/153013988-fb15fea8-5df8-4673-83cc-0af42e9acfc6.png">

I hope this helps. Please let us know if you need anything else.

[2022-02-08 21:39] jessicagood commented on #391
Fixed with commit #23b5927dc1a43e10d6a13db7251ae6012366271e

[2022-02-08 21:39] #391 closed

[2022-02-09 18:31] jessicagood commented on #338
Also fix Drag Animation for Android.

[2022-02-10 15:23] ellennelson10 commented on #379
Whenever I went directly from the Sed Rock page to specifically the Igneous rock page without hitting done or saving, the app would crash. I couldn't get this to happen going from sed rock to other pages.

[2022-02-10 21:18] jessicagood commented on #207
- Fold Notes are where they are to follow @nicolasmroberts mockup (see above). I can easily move them if you want. Let me know.
- When you make a selection on the main page of the Quick Entry Modal the fields shown on the next page are all the fields relevant to the initial field that was selected. So when `mullion` is selected as a `3D Type` all relevant fields are shown on the next page. I can m

[2022-02-10 21:25] jessicagood commented on #379
@ellennelson10 Could you recreate this in a new project? And tell me the exact steps to reproduce the error. I can't replicate it.

[2022-02-15 19:05] nicolasmroberts commented on #379
@jessicagood Here is reproducing that error on my iPad

https://user-images.githubusercontent.com/35352527/154131100-7245e152-88fc-4da3-8c51-ee9f094b1a41.mov

[2022-02-15 19:12] nicolasmroberts commented on #375
@jessicagood we have added this to the kobo form. Should be good now. You can close it when you see that it has successfully deployed with crenulation in the linear feature type

[2022-02-15 20:07] ellennelson10 opened #404 "Log Out"
**Describe the bug**
Whenever I manually quit the app or it crashes, I am logged out and anything not backed up is not saved.

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes

Steps to reproduce the behavior:
1. Quit StraboSpot

**Expected behavior**
If I quit the app, I want to be able to open it again without having to log back in.

**Screens

[2022-02-15 20:53] ellennelson10 commented on #207
- Yes, please move the field notes to the bottom of the page.
- All 3D types should show no relevant fields until the main page, I included a video attempting to articulate the workflow for that page more clearly. I also did a mockup of the Lobate-Cuspate and other 3D structure fields for the main page which hopefully mitagates the need to show the relevant fields on the 3D type page.

![3DOtherSt

[2022-02-16 18:56] jessicagood commented on #375
Added with commit 600037cfec441cb055da6696140ace53b7f493d3

[2022-02-16 18:56] #375 closed

[2022-02-16 19:24] jessicagood commented on #207
Fixed with 8b88eabd2dbb4f7f4e9246f10a6a91c6efc3020f. We should be able to close this after you check the next release @ellennelson10.

[2022-02-16 23:22] jessicagood commented on #379
Thanks. This helped me find and fix the bug. Good catch!

Fixed with commit d88c21052897c414bdab0a8b80b730d7d17e0003

[2022-02-22 22:08] nicolasmroberts opened #405 "StraboSpot2 Seds New Interface Mockups"
![June2020_StraboSedsBrainstorm-21](https://user-images.githubusercontent.com/35352527/155227715-1796a093-a870-49f2-b31e-df6d3d4776d3.png)
![June2020_StraboSedsBrainstorm-22](https://user-images.githubusercontent.com/35352527/155227717-bffeb70b-9e81-41a7-8000-b361e4a1f63b.png)

[2022-02-24 21:39] andrewkrh opened #406 "Mapbox ID"
**Describe the bug**
Currently there is not a way to access the Strabo Profile using the version 1.18.0. I think the user initials are a button because it flashes when pressed, but the button doesn't initiate anything.

Without access to the profile there is no place to enter the Mapbox ID. This means that custom Mapbox styles are not accessible. "style not found"

**To Reproduce**
Are you able to

[2022-02-25 01:25] andrewkrh commented on #404
I am also experiencing this issue.

    Device: iPad pro 3rd Generation
    OS: iOS15.3.1
    StraboSpot Version: 1.18.0

[2022-02-25 17:05] andrewkrh opened #407 "Offline Maps inaccessable"
**Describe the bug**
There are no offline maps available when disconnected from the internet, despite them being listed in the "Manage Offline Maps" menu.

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?

Restarting the app has no effect.
Restarting the app and making a new project has no effect.

Steps to reproduce the behavior:
1. Add a custom ma

[2022-02-28 15:46] NathanNovak commented on #406
@andrewkrh I am unable to reproduce this issue.  I loaded the same version as you but the profile page is loading just fine.  Can you give me more detail that is leading to the problem?

https://user-images.githubusercontent.com/35514146/156012765-889a11d3-e468-4c49-928f-11535e23800c.MP4

[2022-02-28 20:24] NathanNovak commented on #406
@andrewkrh I found the reason for the issue and should have this fixed today. When it is fixed I will post it here with the commit.

[2022-03-01 20:46] NathanNovak commented on #406
@andrewkrh There is a workaround that you can do.  Go into Strabo 1 and add a profile picture.  I am almost done with the fixes for Strabo 2.

[2022-03-01 21:07] andrewkrh commented on #406
@NathanNovak Great, thank you! Were you also able to check issues #404 and #407?

[2022-03-01 22:10] NathanNovak commented on #404
@ellennelson10 and @andrewkrh I just put a new version on TestFlight (1.19.2) to test the profile page.  I will let you know when it is available (probably in the next day or so.

[2022-03-02 15:52] NathanNovak commented on #407
Fixed the offline maps not showing up in the list bug with commit a7125915c4bb3f3acfd80a315a0adacd6661ebec.  Couldn't replicate the suspicious tiles so let me know if this is still happening.

[2022-03-02 15:52] #407 closed

[2022-03-02 15:54] NathanNovak commented on #406
Fixed with commit 68935e8b920e23c9f52f1ef10efdfe61864112af.
I should have things working to close out #404.

[2022-03-02 15:54] #406 closed

[2022-03-02 15:55] NathanNovak commented on #404
Fixed with commit 68935e8b920e23c9f52f1ef10efdfe61864112af.

[2022-03-02 15:55] #404 closed

[2022-03-02 15:57] andrewkrh commented on #407
Awesome, thanks Nathan! Should I look for this fix in 1.19.2?

[2022-03-02 22:27] NathanNovak commented on #407
1.19.3 is being reviewed. This should fix both issues

Nathan Novak
520-400-5793

On Wed, Mar 2, 2022, 8:57 AM andrewkrh ***@***.***> wrote:

[2022-03-08 16:34] NathanNovak commented on #382
@nicolasmroberts I am going to close this cause it is stale. Let me know if @ellennelson10 or you have anymore issues.

[2022-03-08 16:36] NathanNovak commented on #369
@JEAndrew have you had anymore project upload issues?  I will close this issue unless you have and we need to explore it more.

[2022-03-08 16:38] NathanNovak commented on #339
Bridged the compass and matrix to android but the results are not consistent with the tested version of iOS.  Maybe it has to do with the  quality of the sensors provided in the Android Samsung S7 tablet.

[2022-03-08 16:49] JEAndrew commented on #369
I haven't tried lately, I can redo my uploads and see if my issues were resolved. Thanks!
________________________________
From: Nathan Novak ***@***.***>
Sent: Tuesday, March 8, 2022 10:36 AM
To: StraboSpot/StraboSpot-Mobile ***@***.***>
Cc: Andrew, Joseph E ***@***.***>; Mention ***@***.***>
Subject: Re: [StraboSpot/StraboSpot-Mobile] project upload failure (#369)

@JEAndrew<https://nam10.safeli

[2022-03-08 16:51] NathanNovak commented on #369
Sounds 👍

Nathan Novak
520-400-5793

On Tue, Mar 8, 2022, 9:49 AM JEAndrew ***@***.***> wrote:

[2022-03-08 18:22] NathanNovak commented on #392
removed the MapWarper selection with commit 209d183d3647c12d86b661abfaec47b3dc6a7baa and d91120e4f35e37ea314e2c8531486c2160736771.  There is now a message informing users to download any new map through MapWarper.net and upload it to Strabo My Maps.

[2022-03-08 18:22] #392 closed

[2022-03-09 23:14] NathanNovak commented on #393
Added with commits 3657f8da50725b8f2dbc003a28a73570b647a8cc && b008ceedab12efab912bc8f08d7d342cea02eaa9

[2022-03-09 23:14] #393 closed

[2022-03-09 23:15] NathanNovak commented on #369
@JEAndrew have you had a chance to test the uploads?

[2022-03-09 23:21] JEAndrew commented on #369
no, I've been swamped lately. I'll get to it this week and notify you when I do.
________________________________
From: Nathan Novak ***@***.***>
Sent: Wednesday, March 9, 2022 5:15 PM
To: StraboSpot/StraboSpot-Mobile ***@***.***>
Cc: Andrew, Joseph E ***@***.***>; Mention ***@***.***>
Subject: Re: [StraboSpot/StraboSpot-Mobile] project upload failure (#369)

@JEAndrew<https://nam10.safelinks.prot

[2022-03-09 23:36] NathanNovak commented on #355
@JEAndrew I am closing this because we have expanded the menu under the Help section to include Documentation.

[2022-03-09 23:36] #355 closed

[2022-03-10 16:15] NathanNovak commented on #369
ok

[2022-03-11 14:18] JEAndrew commented on #369
I am still having issues with uploading rock units polygons from shapefiles. Most GIS datasets for rock units are very simple, many are just the polygon, an item ID and the rock unit label. The strabospot datbase needs several additional fields filled to have polygons tagged with rock unit Labels. So uploading such a shapefile yields the polygon with no other data.

[2022-03-11 16:16] NathanNovak commented on #369
Ok but the rest of the data is uploading alright? Can you make a
separate issue for that one when you get a chance?

On Fri, Mar 11, 2022 at 7:18 AM JEAndrew ***@***.***> wrote:

[2022-03-11 16:20] JEAndrew commented on #369
yes, so far OK, I'll upload a few more. I'll put a git hub issue specifically for the unit polygons.

________________________________
From: Nathan Novak ***@***.***>
Sent: Friday, March 11, 2022 10:17 AM
To: StraboSpot/StraboSpot-Mobile ***@***.***>
Cc: Andrew, Joseph E ***@***.***>; Mention ***@***.***>
Subject: Re: [StraboSpot/StraboSpot-Mobile] project upload failure (#369)

Ok but the rest of

[2022-03-22 17:41] nicolasmroberts opened #409 "get rid of Strat Mode map "tilt""
In strat modę, you can til the view so you're not looking straight down on it. This is ok in for the actual map, but for the strat column it is weird.

[2022-03-22 18:03] nicolasmroberts opened #410 "Get rid of scale bar in strat column mode"
scale bar is meaningless for strat columns

[2022-03-23 15:39] NathanNovak commented on #410
Ok I will remove it for strat

Nathan Novak
520-400-5793

On Tue, Mar 22, 2022, 1:03 PM Nick Roberts ***@***.***> wrote:

[2022-03-24 18:10] JEAndrew opened #411 "map extent option for geologic units shows other tag types"
Under home icon/settings & preferences/geologic units,  when the map extent is selected it lists the correct geologic unit tags within the map extent but it also lists all of the the 'other' tags in the project. The 'categorized' option does not list the 'other' tags

It should only show the geologic unit tags within the map view. (version 1.20.1 on ipad)

[2022-03-24 18:24] JEAndrew opened #412 "map extent option for geologic units shows all of the spots of the geolgic unit tags"
Under home icon/settings & preferences/geologic units,  when select map extent, it correctly lists the geologic unit tags inn the map view extent, but for each of these geologic unit tags it lists every instance of each of these tags present in the dataset (or maybe in the entire active project?). For example, if I have a geologic unit 'Qa' that is only present in two spots within the map extent i

[2022-03-24 18:30] JEAndrew opened #413 "'Categorized' option for Geologic Units"
Under home icon/settings & preferences/geologic units,  'categorized' option for listing geologic unit spots.

This option should be renamed to 'Alphabetical'.

version 1.20.1

[2022-03-24 18:52] JEAndrew opened #414 "obtuse number in parentheses for tags page from the home icon"
Under home icon/settings & preferences/tags, it correctly lists the tags (excluding geologic units) in the project. to the right of each tag name are two numbers in parentheses. these seem to be the # of instances of the tag in the project and the number in the active dataset, but it's not very intuitive.

A ratio would be a better visualization. I would prefer an option to only show tags from the

[2022-03-24 18:59] JEAndrew opened #415 "difficult to read the start or end date input tool under project description"
Under home icon/active project/project description, the date in put wheels are light gray text on a slightly darker shaded bar. Very difficult to see/read. It just needs some contrast.

version 1.20.1

[2022-03-24 19:04] JEAndrew opened #416 "Option to limit the tags used to just those in the active datasets"
Maybe nobody else would do this but i have an project that includes a dataset with way too many tags that aren't used in the other datsets. I normally don't want to see these when this dataset is inactive.

Maybe an option on the tags menu ,via the home icon, to only show tags in active datasets.

version 1.20.1

[2022-03-29 19:10] jessicagood opened #417 "Fault Rock Page"
@nicolasmroberts @ellennelson10

With commit 64b1ba1df9cc95fdac65fa62c6b5117f575e8f2d I've added this page with the form from KoBo Forms titled "Rock Type - Fault and shear zone (11/21)"

Do you have an icon for the new Fault Rock page?
The form is pretty small so I made a basic quick entry modal, like the other rock quick entry modals, but if you want something different let me know.

[2022-03-29 20:49] jessicagood commented on #208
Fabrics forms updated with commit cb46afa so this page may be good to come out of testing mode? @panamint55 @nicolasmroberts @ellennelson10

[2022-03-30 13:36] ellennelson10 commented on #207
@jessicagood I have a couples changes for the 3D structure tab. First, we want to move "tensor" to be part of the "other" section. I attempted to make this change in the Kobo forms, but please let me know if there is something I need to fix on that end. Second, we want to add a "fault" section. It will be redundant to the planar measurement tab, but having it in 3D structures would be useful as we

[2022-03-30 13:43] ellennelson10 commented on #417
@jessicagood Here is a new icon package with a Fault Rock icon. Yes, just the basic quick entry modal would be awesome.

[30Mar2022.zip](https://github.com/StraboSpot/StraboSpot-Mobile/files/8380962/30Mar2022.zip)

[2022-03-30 16:43] jessicagood commented on #417
Added icons with commit ef61b5e600e71d951404faac9ed7adc1565250ac

[2022-03-31 13:22] ellennelson10 opened #419 "Show spots with samples on the map"
Add the ability to show which spots have samples. In the "Map symbol" window users could could choose to show samples/sample labels similar to how they show tag colors. Use the yellow sunburst to denote which spots have samples. It should go above the tag color (if it is on) but below any structural symbol (e.g., bedding, foliation).

@jessicagood @NathanNovak  I attached a png of the sunburst ele

[2022-03-31 14:40] ellennelson10 opened #420 "Connection Status and add Interval Icons"
New icon package including connection status and add interval icons.

I changed the names as suggested to ConnectionStatusButton_online.png and ConnectionStatusButton_offline.png for the regular online/offline icons and then ConnectionStatusButton_connected and ConnectionStatusButton_notconnected for the connectivity icons.

The names for the add interval buttons are named "AddInterval", "AddInter

[2022-03-31 14:56] ellennelson10 opened #421 "Adding Spots Preference"
In addition to the long hold on the map icons, add the ability to toggle between the way users add features to the map (e.g., curved vs. corned line) in the preference pane.

This add feature toggle and the shortcut options can be under the same tab of "Adding Spots" in the preference pane.

![AddingSpotsPreferences](https://user-images.githubusercontent.com/91563766/161083725-8a31e365-86bc-4bac-a

[2022-03-31 18:04] jessicagood commented on #420
Added with commit f01d3ef9d520bafaa8b01002feeb53e7c6e13288

Noticed you have the following duplicates in your package. I removed them so there is no need for a new icon zip but you may want to take them out of your files. Also in the list below I think `SedInterval_pressed.png` is wrong (not the same style as the other files ending in `_pressed.png` but  `SedInterval_pressed_1.png` is correct.

`S

[2022-03-31 20:53] #413 closed

[2022-03-31 21:09] jessicagood commented on #207
I can easily add Fault to 3D Structures but if we remove tensor as a primary type of 3D Structure and move it under Other we will lose the data for where the tensor is already set as a primary 3D Structure. We can have it in both places or see how many people have used tensors or add another section for Tensors (Deprecated). @panamint55 What do you think?

[2022-04-01 14:24] ellennelson10 opened #423 "Measurement Quick Entry Modal"
Here are some mockups for the quick entry modal for measurements.

- For IOS, we attempted to clean up the instructions "tap the compass to take a measurement" (instead of the red text above). Will you need the artwork for the compass with text? The blue text above the compass should take you to manual entry if clicked and then the manual entry form for IOS will just be the same as the Android for

[2022-04-01 14:33] panamint55 commented on #207
I would say that we see how many are there.  I bet it is none.  If that is the case then we can do the change easily.

What is the reason to remove tensor as a primary structure?

From: Jessica Good ***@***.***>
Reply-To: StraboSpot/StraboSpot-Mobile ***@***.***>
Date: Thursday, March 31, 2022 at 4:09 PM
To: StraboSpot/StraboSpot-Mobile ***@***.***>
Cc: Doug Walker ***@***.***>, Mention ***@***.**

[2022-04-01 14:58] ellennelson10 commented on #207
@panamint55 I moved it to "Other" because I don't think the Tensor category is heavily used. It seems reasonable to have it in the "Other" tab instead of at the same level as faults and folds. That being said I didn't realize that it was considered a "primary feature" and wouldn't see any issue with it being [folds][faults][tensors][other].

[2022-04-01 17:27] #412 closed

[2022-04-01 17:29] NathanNovak commented on #411
fixed with commit fb58cdba87a85827699581d66a2644a0c12e344a

[2022-04-01 17:29] #411 closed

[2022-04-01 17:32] NathanNovak commented on #423
Those look really nice!

[2022-04-01 18:06] #415 closed

[2022-04-01 21:48] #410 closed

[2022-04-01 21:53] #409 closed

[2022-04-04 15:46] NathanNovak commented on #377
I am going to close this cause we have not had anymore complaints on this topic.

[2022-04-04 15:46] #377 closed

[2022-04-04 16:01] #369 closed

[2022-04-04 16:02] NathanNovak commented on #376
@nicolasmroberts do you have a large set that we can test with?

[2022-04-04 20:29] jessicagood commented on #319
@ellennelson10 @nicolasmroberts @panamint55 Any thoughts on this?

[2022-04-05 18:16] nicolasmroberts opened #424 "Seds Strat Section Default Selected Spot"
When you have a strat column loaded in the map, when you tap on the strat column background (i.e., deselect spots), the strat column page should be selected. Right now, it just goes to recent spots. The problem with that is that you can "lose" your strat column in the list of spots and you can't add more layers.

right now:
<img width="1194" alt="image" src="https://user-images.githubusercontent.c

[2022-04-06 21:27] JEAndrew opened #425 "can't remove geologic unit tag from spot in notebook popups"
When using the geologic units editing panel within notebook it’s easy to add a label using assign/remove, which pulls up a list of geologic units tags to choose from and click.

But if you re-enter the spot after choosing a geologic unit tag and click on GEOLOGIC UNITS to edit the units, the list of geologic unit tags does not show up. Instead a list all of the spots with with this tag opens up.

[2022-04-06 21:31] JEAndrew opened #426 "Summary list in notebook popup awkward"
In notebook summary list view, the user needs to click on the category title to access the editing/details popup. It would be easier to user the app if just clicking on an item listed under the headings would also get to the editing/details popup.

v.1.20.1

[2022-04-06 21:35] JEAndrew opened #427 "macrostrat basemap labels are absent"
Using Macrostrat as a basemap (star-Map Layers/default basemaps- Geology from Macrostrat) displays different color geologic map unit polygons but there are no labels shown for the geology polygons from Macrostrat. A label is needed or a way to connect to a link to see Macrostrat polygon data.

v1.20.1

[2022-04-06 21:41] JEAndrew opened #428 "Map Symbols toggle on/off only effects point data"
This tool in previous versions allowed the user to turn off polylines and polygons but now only controls the toggle on/off show of points. A more user friendly functionality would be to turn off points, lines, or polygons. The current functionality can be kept as its a powerful tool, but sometimes a user might want to hide polygons or polylines.

Maybe a new Heading in the popup at the top for tog

[2022-04-06 21:47] JEAndrew opened #429 "Map Symbol labels"
The Map Symbols/Symbol Labels on/off toggle controls the label. The label consists of either the spot ID or the measurement dip. It would be useful to have a finer control for toggling, so one could select spot ID, dip, or maybe even the measured plunge.

A subheading under the symbol labels could control this toggle on/off.

v1.20.1

[2022-04-06 22:26] NathanNovak commented on #425
Can you elaborate on the steps you took to cause this issue? I cannot replicate it.

[2022-04-07 14:06] JEAndrew commented on #425
this is embarassing, i see what i doing, i was clicking on the subheading geologic units and not on the 'assign/remove'.

________________________________
From: Nathan Novak ***@***.***>
Sent: Wednesday, April 6, 2022 5:26 PM
To: StraboSpot/StraboSpot-Mobile ***@***.***>
Cc: Andrew, Joseph E ***@***.***>; Author ***@***.***>
Subject: Re: [StraboSpot/StraboSpot-Mobile] can't remove geologic unit ta

[2022-04-07 15:44] NathanNovak commented on #425
Lol oh ok so then I will close this issue.

[2022-04-07 15:44] #425 closed

[2022-04-08 19:16] NathanNovak commented on #338
Currently Mapbox is still having issues with adding draw tools because of Android will not support multiple touch events (https://github.com/nitaliano/react-native-mapbox-gl/issues/1058#issue-298910805). This has been a low priority since then.

[2022-04-13 15:54] NathanNovak commented on #426
@JEAndrew Can you clarify more or upload a video?

[2022-04-13 15:55] #414 closed

[2022-04-13 16:03] NathanNovak commented on #414
Let me know if this needs further attention

[2022-04-13 22:02] jessicagood commented on #423
@ellennelson10 Do you want to be able to enter a Tabular Zone from the QEM? You cannot in the current version of SS but you can add a template for TZ. And if someone has a TZ template should that show up under Plane or not at all?

[2022-04-14 15:14] panamint55 commented on #429
This could be a good enhancement.  Moderate priority.

[2022-04-14 15:15] panamint55 commented on #428
This seems like a good idea.  Also, the polygons should be the lowest layer, followed by line with points the uppermost in the hierarchy.  Not sure how it works now.  We can talk about this soon.

[2022-04-14 16:25] ellennelson10 commented on #423
@jessicagood No, I don't think that needs to be part of the QEM. If someone has a TZ template have it show up under Plane.

[2022-04-14 17:04] NathanNovak opened #431 "Notebook images aren't showing up right away"
Doug test findings:
1. I am on a spot with images.  They say no thumbnail available.  2.  Go to home and look at image gallery.  Thumbnails are there.  3. The notebook which is open does not change.  4. Close and reopen notebook and the images are there

[2022-04-14 17:13] NathanNovak opened #432 "Maptiles loaded from external backup will blow up if there are no other offline maps saved."
**Describe the bug**
Did a fresh install and loaded a project from a backup folder not in SS2 with an offline map.  The modal shows 0 tiles loaded but when I go to the Offline Maps I can see the correct tile count.  When pressing View Offline Map it blows up.  If there are other offline maps saved before the project is loaded than the maps are fine.

**To Reproduce**
Are you able to reproduce the

[2022-04-19 16:49] nicolasmroberts opened #433 "changing pixel coordinates bricks app"
@NathanNovak If you manually edit the pixel coordinates of a spot on an image basemap, the app permanently goes blank, and you are forced to delete the app entirely from the iPad.

[2022-04-19 20:34] jessicagood commented on #423
@ellennelson10 Can you add the new artwork for the compass here which includes the text when you get a chance? Thanks

[2022-04-19 22:30] ellennelson10 commented on #423
@jessicagood Here is the artwork for the compass. I exported it with a transparent background, but let me know if it needs a white element behind it.

![CompassArt-03](https://user-images.githubusercontent.com/91563766/164111945-8112f49f-12ca-4d7d-b81a-ed0263594bd9.png)

[2022-04-20 03:43] NathanNovak commented on #433
Wow ok I will check that out asap!

On Tue, Apr 19, 2022 at 9:50 AM Nick Roberts ***@***.***>
wrote:

[2022-04-21 17:09] #432 closed

[2022-04-21 20:03] jessicagood commented on #423
Added with commits above. This will need rigorous testing as there are so many options, ios/android/, notebook entry/shortcut entry, 0 templates linear/planar, planar + associated linear, 1 planar template, 1 linear template, multiple planar, multiple linear, no planar template + 1 associated linear template, multiple planar templates + associated linear template, multiple planar + 1 associated li

[2022-04-21 20:52] NathanNovak commented on #423
Noticed that adding an associated measurement from the detail page is not handled correctly. It doesn't add it as an associated measurement.

[2022-04-25 21:48] #433 closed

[2022-04-25 21:49] NathanNovak commented on #433
All fixed! commit e195f54b6d33705756a0ff37731fba09abfde4b8

[2022-04-26 16:40] ellennelson10 opened #436 "Measurment Shortcut Mode"
When taking a measurement, if a user switches to "Shortcut Mode", takes a measurement then clicks "Go to Last Spot Created" a new spot is created at your current location instead of going to the last spot created.

One solution might be to just remove shortcut mode. It doesn't seem to be an essential feature and none of the other pages use it.

[RPReplay_Final1650990695.mov.zip](https://github.com

[2022-04-26 17:05] NathanNovak commented on #436
Hi @ellennelson10.  The way you are describing the shortcut mode is the correct behavior that @nicolasmroberts wanted.  When the modal is in shortcut mode and a measurement is made then a new spot is created at your current location. All of the shortcut mode buttons create a new spot at your location while doing the assigned task.

[2022-04-27 16:20] NathanNovak commented on #197
Closing issue for being stale and no other issues of this type have been reported.

[2022-04-27 16:20] #197 closed

[2022-04-29 17:03] NathanNovak commented on #436
@ellennelson10 Can you and @nicolasmroberts talk about whether you want a user to have the ability to go to the Shortcut modal from the Notebook modal and vice versa?  It is easy to take that out.

[2022-05-03 17:24] jessicagood commented on #424
Fixed with commit 1eba7264faff1af9c033fe9917c2285d5c143fc6

[2022-05-03 17:24] #424 closed

[2022-05-03 17:27] jessicagood commented on #423
Ready for testing with commit 7ddcaa024f9b7974ee7edfbe3a38809cc3795daa. Fixes are already in latest testing version of the app.

[2022-05-03 19:34] ellennelson10 commented on #436
@NathanNovak We are just going to leave this for the time being.

[2022-05-03 19:58] jessicagood commented on #436
Ok then closing this issue

[2022-05-03 19:58] #436 closed

[2022-05-03 20:10] ellennelson10 opened #438 "Strat Column adding interval issue"
In version 1.23.0 there are issues adding intervals. At first it seemed like we were unable to add an interval (it just won't let you save). You can if you fill out every form in the quick entry modal Including the "notes". However it is then added to the wrong side of the axis.

Also there is no longer a way to add or edit grain size.

![IMG_0893](https://user-images.githubusercontent.com/9156376

[2022-05-03 20:23] jessicagood commented on #438
@ellennelson10 Can you should me the exact steps of for the interval you were trying to add? Specifically what the QEM filled out looks like. I'm not able to recreate the problem yet.

[2022-05-03 20:27] ellennelson10 commented on #438
[RPReplay_Final1651609582.mov.zip](https://github.com/StraboSpot/StraboSpot-Mobile/files/8614097/RPReplay_Final1651609582.mov.zip)
@jessicagood Here is a video showing the issue.

[2022-05-03 20:48] jessicagood commented on #438
Ok, that helped. It is a problem only on iOS, not Android, and related to **any** form, not specifically Add Interval. Troubleshooting it.

[2022-05-03 22:03] NathanNovak commented on #438
There was an update to the Javascript engine that was enabled on iOS, called Hermes.  Once I disabled that and rebuilt then skip logic and intervals seemed to work just fine. Not sure why that would cause such specific issues but can research it more later.

I am closing this issue for now but if it continues then we can reopen it.

[2022-05-03 22:03] #438 closed

[2022-05-15 07:40] bwwjohnson opened #439 "Add multiple photos to spot from camera roll"
Hi there, thanks for making Strabo, loving it!

However, I find it annoying to individually add photos to a spot from my camera roll if I didn't take the photo in Strabo. I would like to be able to add multiple photos from my camera roll and not add one photo at a time.

I'm using StraboSpot v1.19.7 on an iPhone 6S.

[2022-05-15 07:44] bwwjohnson commented on #321
Any updates on this? I don't seem to be able to do it in StraboSpot v1.19.7

[2022-06-01 19:16] amfintel opened #441 "Strike and Dip Measurement Tool Auto Measure Not Functioning"
I am a bit unfamiliar with GitHub and have only recently downloaded StraboSpot2 so I apologize if this is an incorrect way to report this bug.

I have run into an issue with the measurement tool for strike and dip measurements. The auto measure tool does not register the iPad's compass or orientation. It shows a blank compass and if you click it to take a measurement, it just puts a ?/? planar fea

[2022-06-01 20:11] NathanNovak commented on #441
Hi @amfintel What version of the app are you running? You can find that in Home => About

[2022-06-01 21:01] amfintel commented on #441
I opened the app, started a new project, placed a spot and hit the take a measurement button, that’s what brought me to the current view above.  Alternatively I’ve tried to add the measurement tool as a shortcut to the main map and use that, it still shows the same as before with no measurement.

[2022-06-01 21:21] NathanNovak commented on #441
And this is still happening after you reinstalled the app?

Nathan Novak
520-400-5793

On Wed, Jun 1, 2022, 3:01 PM amfintel ***@***.***> wrote:

[2022-06-01 21:39] amfintel commented on #441
Yes, I have uninstalled and reinstalled it three times. I’ve deleted all the files, restarted the iPad with the app installed, restarted it without the app installed. Still no change, I have also tried proceeding as guest to test it instead of logging in. I have allowed location “only once” and “while app is in use”. It is locating me accurately. I’ve confirmed compass is turned on under navigatio

[2022-06-02 14:47] NathanNovak commented on #441
Ok we will do some more testing to see if the issue can be replicated on this end.  I am assuming you were not connected to wifi or cellular?

[2022-06-02 18:07] amfintel commented on #441
I found the issue! It was something on my end. I tried connected to wifi and not connected. cellular has not been connected or turned on yet. However, I checked through cellular features and found that the 'compass calibration' setting was turned off in Location Services > System Services. It appears it's off by default if a new iPad with cellular capabilities has not had cellular activated yet. I

[2022-06-08 18:57] srmulcahy opened #443 "StraboSpot2 Lasso data from Stereonet fails to import in new Stereonet Mobile"
**Observed Bug**
Uncertain if this is a StraboSpot2 or updated version of Stereonet Mobile (v 4.0.4) bug. Data that are lassoed and copied successfully to the clipboard in StraboSpot2 fail to open in Stereonet Mobile because "the file does not appear to be in a format that the app can open."

**Steps to reproduce the behavior:**
1. In StraboSpot2 Lasso Spots for Stereonet
2. Click on End Draw
3. S

[2022-06-08 19:01] srmulcahy commented on #443
I also emailed Rick Allmendinger in case the bug is with Stereonet Mobile v 4.0.0

[2022-06-10 19:21] NathanNovak opened #444 "Handle timeout when downloading images"
**Describe the bug**
When on a slow connection and downloading images from a dataset there may be a RNFS.download timeout that is not being handled.

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes

Steps to reproduce the behavior:
1. Throttle connection to less then 100kb/s
2. download a project and then download the images to a dataset that h

[2022-06-15 13:02] ellennelson10 opened #445 "Spots List Crash"
On one of the iPads running version 1.24.0, every time the user clicks on the "Spots List" in the home menu the app crashes.
[RPReplay_Final1655214668.mov.zip](https://github.com/StraboSpot/StraboSpot2/files/8909470/RPReplay_Final1655214668.mov.zip)

[2022-06-15 13:45] NathanNovak commented on #445
Can you back up the project and send it to us?

Nathan Novak
520-400-5793

On Wed, Jun 15, 2022, 7:15 AM Nathan Novak ***@***.***> wrote:

[2022-06-15 16:17] panamint55 opened #446 "Image base maps do not show"
[code]

[2022-06-15 16:40] NathanNovak commented on #446
We were able to recreate this issue. Here are the steps we took.

1. Install SS2 fresh
2. while online, sign in and create a new project
3. plot a spot
4. go offline then take, or load, an image
5. view as image basemap
6. Screen is white whereimage should be

[2022-06-16 02:05] ellennelson10 commented on #445
Yes- we have only seen it on one ipad. I deleted and reinstalled the app but it crashed again later in the day.  The entire project backups are too large to attach but here was the last data.json before I reinstalled the app. Let me know if there are any other files that would be useful.

[data.json.zip](https://github.com/StraboSpot/StraboSpot2/files/8915054/data.json.zip)

[2022-06-16 13:02] NathanNovak commented on #445
Ok, I'll check it out.

Nathan Novak
520-400-5793

On Wed, Jun 15, 2022, 8:05 PM Ellen Nelson ***@***.***> wrote:

[2022-06-18 21:16] NathanNovak opened #448 "Panning when first loading app will take user to current location å"
**Describe the bug**
Panning or zooming will reset map to users location after startup.

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes/No

Steps to reproduce the behavior:
1. Load app
2. Pan or zoom

**Expected behavior**
Not to reset location as users location

[2022-06-18 21:25] NathanNovak opened #449 "Measurements orientation should not have "Associated Liner Feature" in the measurements page"
In Overview the orientation should say the foliation + the associated linerar/planer feature name

In the Measurements page it does not need to show associated linear/planer feature name.

[2022-06-18 21:37] NathanNovak opened #450 "Lassoing spots with image basemaps does not get image basemap spots"
Does not get the nested spots on an image basemap.

[2022-06-18 21:42] NathanNovak opened #451 "Speed up vertex editing"
See if we can only calculate spots in view when editing a vertex. Seems to go really slow when multiple datasets are turned on.

[2022-06-21 19:59] noahjp-tamu opened #452 "Only one offline map from myMaps appears while offline despite multiple being downloaded"
**Describe the bug**
When multiple offline maps (from myStrabo maps) are downloaded to an iPad, only one appears when the layers button is clicked.
All maps are visible by going to "Manage Offline Maps"

**To Reproduce**
Yes

Steps to reproduce the behavior:
1) Download multiple offline maps from custom maps (maps uploaded using StraboSpot myMaps)
2) Go offline
3) click the layers icon - only one

[2022-06-21 20:03] noahjp-tamu opened #453 "Maps uploaded using Strabo My Maps only appear as numbers in the manage offline maps menu"
**Is your feature request related to a problem? Please describe.**
Yes. When examining downloaded maps in the "Manage Offline Maps" menu, maps downloaded from My Maps show the long string of numbers rather than the name assigned when importing them to the iPad (this makes it impossible to know which map is which while in the field)

**Describe the solution you'd like**
Show the name of the map ass

[2022-06-22 14:58] NathanNovak commented on #453
@noahjp-tamu can you give me a more detailed explanation of the steps you took?  When I download a map from My Maps and then save it for offline use the name appears as it should.

[2022-06-22 15:07] NathanNovak commented on #452
What version of Strabo are you using?

[2022-06-23 15:04] NathanNovak commented on #443
We are in the process of updating to fit the new StereoNet v4.x.x.

[2022-06-28 02:10] dmongovin opened #454 "Offline/Custom Maps Not Showing"
**Describe the bug**
In offline mode, when choosing the 'Map Layers' button on the bottom left of the screen, the downloaded tiles of custom maps are not appearing. When checking to see if offline tiles are downloaded under 'Settings & Preferences -> Manage Offline Maps', the offline map tiles appear. Still, when going into the map layers to choose offline custom map tiles, the custom maps do not

[2022-07-03 18:54] bwwjohnson opened #455 "KML/KMZ import to StraboSpot2 project"
Hi there! I would like to be able to import field sites previously scouted on the computer in Google Earth or QGIS into a StraboSpot project. I.e. I’d like to import points, lines and polygons as shapefiles or KML/KMZ into a StraboSpot project.

Is this currently possible? If not, will it be possible one day?

Thanks!

[2022-07-05 17:52] NathanNovak commented on #455
@bwwjohnson ,
Thanks for your question.  Currently you can load a shapefile into a project through the website ([www.strabospot.org/load_shapefile](https://strabospot.org/load_shapefile)). There have been talks about importing KMZ files in the future, but it is not known when that will be just yet.

[2022-07-05 20:56] jessicagood commented on #449
Fixed with commit ce5e3d5e5623ed229dc7cc83e575a3bb04109edc.
Also now displaying associated measurement values even when multiple associated measurements.

[2022-07-05 20:56] #449 closed

[2022-07-07 20:26] NathanNovak commented on #443
@srmulcahy We have updated the data for v4 of Stereonet.  There is some conversion issues with the time and date that I emailed Rick about.  The changes will be out in a new version soon.

[2022-07-07 20:29] NathanNovak commented on #443
I am going to close this issue for now. Feel free to reopen it if you are having anymore issues.

[2022-07-07 20:29] #443 closed

[2022-07-07 20:31] #455 closed

[2022-07-11 16:22] NathanNovak commented on #454
@dmongovin this issue has been fixed and will be available in a new release which should go out this week.

[2022-07-11 16:22] #454 closed

[2022-07-11 16:25] #453 closed

[2022-07-11 16:26] #452 closed

[2022-07-11 16:52] NathanNovak commented on #445
@ellennelson10 Should I close this issue?

[2022-07-12 17:21] ellennelson10 commented on #445
@NathanNovak Yes- close it.

[2022-07-12 22:14] eschermer opened #457 "notes panel requires saving twice"
**Describe the bug**
A clear and concise description of what the bug is.
When you write a note at a spot and hit save, then a second window pops up asking to save again.  It seems like once should be enough

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes/No
Yes

Steps to reproduce the behavior:
1. Go to  a spot
2. Click on notes, type in a not

[2022-07-12 22:29] eschermer opened #458 "structure description information from floating panel does not save in notebook"
**Describe the bug**
A clear and concise description of what the bug is.
information entered in the floating panel (on left) does not save in notebook if you take the measurement before entering the info
similar issue for 3d structure panel measurements

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes

Steps to reproduce the behavior:
1. Go to

[2022-07-12 22:38] eschermer opened #459 "Active dataset changes unexpectedly"
**Describe the bug**
A clear and concise description of what the bug is.
When you turn on a second (or more) dataset to view it, the active dataset changes to that dataset.

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes

Steps to reproduce the behavior:
1. Go to active project
2. Click on list of datasets (I already have the desired dataset a

[2022-07-12 22:43] eschermer commented on #446
I have this same issue with Ipad Mini 6 running iOS 15.5 but it did not occur for a colleague on Ipad mini5 running 15.0.

[2022-07-18 21:04] jessicagood opened #461 "Offline Maps on Android"
If there are no saved offline maps and you go offline then the screen is black. We should have at the very least the 4 world tiles at zoom 1 that can be used. Though the resulting map zoomed in would of course not be very good, but better than black.

[2022-07-19 21:06] NathanNovak commented on #459
Hi @eschermer. I will take a look at this and see about placing an option to stay with the current dataset in view or "fly" to the newly selected one.

[2022-07-19 22:11] NathanNovak commented on #458
@ellennelson10 Can you take a look at this please?  The functionality of the compass is working correctly but the user experience is a little backward.

[2022-07-20 19:04] jessicagood commented on #457
Fixed with commit ac8a5fe7621c4bffed30687bf97ef1a44b3aee42

[2022-07-20 19:04] #457 closed

[2022-07-20 21:54] jessicagood commented on #450
The function that determines which spots are included when spots are lassoed is used in 3 places:
- Grabbing the spots to include for Stereonet
- Adding a tag to spots lassoed on the map
- Listing the spots in the map extent (the screen boundary is used as the "lasso")

Should children spots be included in all 3 instances above? Children spots include spots in image basemaps and strat sections and

[2022-07-22 15:52] NathanNovak commented on #459
Hi @eschermer,

So I made a change that I hope will help when changing datasets (see images below).   There will now be a modal that pops up asking if you would like to make the newly switched-on dataset the current one. The map will still "fly" to show all the datasets in the screen view but you will have better control over which dataset is the current one for data entry.

![IMG_FB48A51D258E-1](

[2022-07-22 15:52] #459 closed

[2022-07-22 16:05] eschermer commented on #459
Thank you !

Sent from my iPhone

On Jul 22, 2022, at 9:52 AM, Nathan Novak ***@***.***> wrote:

﻿
You don't often get email from ***@***.*** Learn why this is important<https://aka.ms/LearnAboutSenderIdentification>

Closed #459<https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FStraboSpot%2FStraboSpot2%2Fissues%2F459&data=05%7C01%7Cschermer%40wwu.edu%7Cfc01b6974edd440

[2022-08-11 18:04] jessicagood opened #465 "Fix deprecated UIManager.measure"
See https://chrisfrewin.medium.com/a-keyboard-avoiding-view-for-react-native-in-2021-196701ff0608

[2022-08-16 15:46] NathanNovak opened #466 "Trace features obscured by overlay map overlay -Custom Map"
**Describe the bug**
Trace features (e.g. contacts, faults) are not visible when I'm using a custom map as an overlay (e.g. drone imagery or shaded relief map from LIDAR DEM). I can see spots and structural measurements on my overlay map, but I cannot see contacts and faults. Setting the overlay map to 50% transparency shows my trace features under the overlay.

**To Reproduce**
Are you able to re

[2022-08-16 15:48] NathanNovak commented on #466
fixed with commit a88a9c582d68a796e346d45345f05f41dcec4011

[2022-08-16 15:48] #466 closed

[2022-08-23 22:48] jessicagood commented on #207
@ellennelson10 So should we leave it as is or find out how many people are already using it to see if it's even possible to change?

[2022-08-23 22:49] #175 closed

[2022-08-23 22:51] jessicagood commented on #208
@ellennelson10 @panamint55 Any updates on this or do we pull it out of testing mode?

[2022-08-23 22:59] NathanNovak commented on #286
fixed with commit 6134a4def3c0a5a9e5c121e41c69da9769571bc7

[2022-08-23 22:59] #286 closed

[2022-08-30 17:39] jessicagood commented on #448
Fixed with commit e5512af8f4532646a4992f0f8fa85b488f7be199

[2022-08-30 17:39] #448 closed

[2022-09-08 15:19] panamint55 commented on #450
Talked with Ellen.  It should all image basemap spots for Stereonet and all sunspots in images.  Same for tags.  Same for the map extent, probably.  How hard is this to do?

[2022-09-08 15:34] panamint55 commented on #379
Ellen will review.

[2022-09-08 15:34] ellennelson10 commented on #458
This is a workflow issue in how users are saving and then editing the measurement data. I'm working on a solution, and will update in the near future.

[2022-09-08 15:39] panamint55 commented on #319
Ellen and I need to look this over with Jessica at some point.  We can put this on the discussion list.

[2022-09-08 15:41] #445 closed

[2022-09-08 15:41] panamint55 commented on #208
Will review and send a message when done.

[2022-09-08 15:44] panamint55 commented on #207
Ellen will take a look.  It is fine to move tensor under other.  Faults will be added with graphic interface.

[2022-09-08 16:47] jessicagood commented on #450
@panamint55  If they're all the same (if children spots should be included in all 3 situations in the bulleted list above) it is easy and done already. I just need to push it into the code base.

[2022-09-08 16:55] panamint55 commented on #450
Go for it.

[2022-09-08 17:06] #450 closed

[2022-09-08 17:07] #328 closed

[2022-09-13 15:48] ellennelson10 commented on #208
- I updated the Koboforms, mainly for constancy (e.g., Planar fabrics vs planar fabric).
- Can we have the "Spatial Configuration" options be under one button on the fault tab similar to how the kinematic indicators or planar fabrics are? (See Photo)
![IMG_50EB96B39469-1](https://user-images.githubusercontent.com/91563766/189721558-85768315-eed4-4e2d-a14b-8e29d4813d32.jpeg)
- @panamint55 Is "Fault

[2022-09-13 21:22] ellennelson10 commented on #402
I update the koboforms for trace features and added "other" to the categories.

[2022-09-14 13:00] ellennelson10 commented on #379
I updated the kobo forms for the Sed Rock page (added an "other" option to a few categories). Other than that, I think this page looks fine.

[2022-09-20 23:10] jessicagood commented on #208
First two bullet points fixed with commits 844e28aa18f2621a559348a473a8d4b707ec0548 and 35bcdc052a64c226e64e7b9b0e501f89fb7a5c2b

@panamint55 & @ellennelson10 It is easy to change the tab to say 'Structural' instead of 'Fault.' If that is what you agree on please let me know.

[2022-09-21 00:03] jessicagood commented on #379
@ellennelson10 The Sed Rock form is used both for the Sed Rocks page and for Lithologies. All of the choices for the field 'Primary Lithology' (which you've changed to 'Sedimentary Rock Type') have a width and pattern for the strat section visualization. But now that 'other' is a choice we do not have a way to display that in the strat section.  Same goes for 'other' that is now a choice for Silic

[2022-09-21 00:14] jessicagood commented on #402
Added with commit 846ab50ca46ccc8e4dfd960758a50b3b27683901

[2022-09-21 00:14] #402 closed

[2022-09-21 23:19] jessicagood opened #468 "Add Platform & Device to Upload Data"
So we know how the ways users are using StraboSpot

[2022-09-22 17:43] jessicagood commented on #423
I don't think there is anything more to mockup here. It just needs more testing as described in the comment above from Apr 21. @ellennelson10

[2022-09-22 17:46] jessicagood commented on #339
See branch Android_Compass_WIP

[2022-09-22 17:53] panamint55 commented on #207
Let's check and see if it is used yet.  So go with the 8/23 comment.

[2022-09-22 17:59] panamint55 commented on #208
Structural is much better.

[2022-09-22 18:03] panamint55 commented on #379
I looked at this and I am not sure we need the other for the strat section.  I would not add them as far as I can tell

[2022-09-26 20:55] jessicagood commented on #208
Then to make it make match we'd change the Fault & Shear Zone Fabrics label on the Fabrics page to Structural Fabrics as well? Does that still what you want?

[2022-09-26 21:01] jessicagood commented on #379
So that would remove the 'other' fields from Sed Rocks too since it uses the same form as Primary Lithology.

[2022-09-28 17:38] jessicagood commented on #207
@jasonash says 65 spots use tensors
So @ellennelson10 do think there is a good enough reason to switch the field organization here and lose that data (or go through too much work to try and save the data)?

[2022-09-28 17:39] NathanNovak opened #470 "Password update request when uploading"
When a user changes their password in the web and stays logged into their device the upload fails because of an incorrect password. Currently the user needs to backup the project, log out, and re log in with the correct password.

Need to add a password update input if the user gets that error so they can update the password without logging out.

[2022-09-28 18:03] jessicagood commented on #208
@panamint55 said yes to previous comment via phone

Fixed with commit c06b0e1072ec21a0ed7d91c367ad78044af1f8ac

[2022-09-28 18:03] #208 closed

[2022-09-28 18:06] jessicagood opened #471 "Sliders on iOS"
On iOS sliders do not default to None or undefined properly like on Android.

See Fabrics -> Structural -> Tectonite classification for example. Should default to None like on Android.
Also 3D Structure -> Fold -> Tightness & Vergence. Indicator should start on far left of slider.
May be others too.

[2022-09-28 20:48] jessicagood commented on #379
@ellennelson10 Per @panamint55 I removed the 'other' options from the KoBo form as that messes up drawing intervals. I archived your form in the KoBo toolbox project list.

If that's it this form may be good to go.

[2022-09-29 17:52] ellennelson10 commented on #207
No, it likely isn't worth losing data. So it will be four tabs of "Fold", "Fault", "Tensor", and "Other".

[2022-10-03 17:59] jessicagood opened #472 "Cancel New Project"
Tapping Start a New Project from My StraboSpot in the menu and then cancel should bring the user back to My StraboSpot. Right now it keeps the Create a New Project form open.

[2022-10-04 22:59] jessicagood opened #473 "Hide Pages"
From @panamint55: Hide specified pages in the more menu and corresponding icons in the bottom notebook bar for certain spots.

For example, hide the Strat Section page when a Strat Interval is selected.

What other pages do you want to hide based on what conditions, @panamint55?

[2022-10-05 21:24] jessicagood opened #475 "Interval Page - Add Fields From Add Interval"
Requested by @panamint55: Use the fields from the Add Interval dialog on the Interval page.

One problem with this:
When a new interval is added the form gives the user the ability to add at most 2 lithologies. More lithologies can be added later from the lithologies page. What if the user has added more than 2 lithologies? If we use the form for Add Interval on the Interval page then any litholog

[2022-10-05 21:26] jessicagood opened #476 "Strat Section Images Ordering"
Need a z-index for images on a strat section. Or some way to specify the order of the images.

[2022-10-09 19:53] ellennelson10 opened #477 "Blank White Screen"
User dowloaded Testflight version 1.30.1 (4). Since then, the Strabospot app has not loaded properly. When attempting to open it just displays a white screen.

[2022-10-09 20:04] jessicagood commented on #477
Try uninstalling the app and then doing a clean install. That worked for @panamint55

[2022-10-11 09:26] NathanNovak commented on #441
Ok I'll take a look

On Wed, Jun 1, 2022 at 2:27 PM amfintel ***@***.***> wrote:

[2022-10-17 17:05] jessicagood commented on #473
Commit fa26aac2a5734f969f0cd871457b524fb67e3110 hides the strat section page if the selected spot is a strat interval.

Do we want to hide other pages on other conditions?

[2022-10-17 19:27] #476 closed

[2022-10-17 20:17] ellennelson10 commented on #423
I've tested this quite a bit on iOS and haven't found any major issues.

There is an odd feature with templates. Say I have a template defined with planar feature type "foliation" and then foliation type of "cleavage". If I change the planar feature type to say "Bedding" the foliation type button disappears (as it should), but when I save the measurement it is saved as "Bedding - CLEAVAGE". This s

[2022-10-17 21:08] jessicagood commented on #423
Would you be able to make a video of this issue? I've tried following your steps and variations of them but I haven't been able to recreate the issue yet.

[2022-10-17 21:08] #362 closed

[2022-10-18 21:21] jessicagood commented on #207
Added Faults with commit 5a76567a2c1568ebc9615ad5b8bce15db8278d05

Once this comes out in the next release is it good to close @ellennelson10?

[2022-10-20 15:34] ellennelson10 commented on #207
@jessicagood Yes it will be good to close.

[2022-10-20 16:37] jessicagood commented on #423
Thanks @ellennelson10. That helps. It looks like a bug to me but is not an issue on Android (which use the manual measurements mode). If you use manual mode on iOS do you get the same issue?

[2022-10-20 17:20] ellennelson10 commented on #423
@jessicagood It works like it should with manual measurement input.

[2022-10-20 17:34] ellennelson10 commented on #477
@NathanNovak When I updated to 1.30.1 (4) on testflight, my app also does not go past a black screen. Redownloading the app store version does bring all my data back.
[RPReplay_Final1666286962.mov.zip](https://github.com/StraboSpot/StraboSpot2/files/9832573/RPReplay_Final1666286962.mov.zip)

[2022-10-20 21:47] NathanNovak commented on #477
Did you try uninstalling the pervious app then installing the TF version?

[2022-10-24 14:34] ellennelson10 commented on #477
@NathanNovak That worked! Can I close this then?

[2022-10-24 15:44] NathanNovak commented on #477
Awesome! Yeah go ahead and close this. If it creeps up again we can start a
new issue.

On Mon, Oct 24, 2022 at 7:34 AM Ellen Nelson ***@***.***>
wrote:

[2022-10-24 15:57] #477 closed

[2022-10-28 21:11] NathanNovak opened #480 "Strat section Page display"
**Is your feature request related to a problem? Please describe.**
When the Strat settings page is displayed and then an interval is selected the settings go away and leave only the toggle to add a strat section at this spot.

**Describe the solution you'd like**
Should switch to the interval page and show the interval info

[2022-11-22 20:07] #207 closed